<!DOCTYPE html>
<html>

	<head>
		<title>

		</title>
		<style>
			body{
				overflow-x:hidded;
				overflow-y:auto;
			}
			
			#picture{
				display: block;
				margin-left:auto;
				margin-right:auto;
				width:400px;
				height:auto;
			}
			#tweet{
				display:block;
				margin-left:auto;
				margin-right:auto;
				width:400px;
				height:auto;
			}
		</style>
	</head>
	
	
	<body>
	
		<img src={{imageUri}} id="picture">
		
		<p id="tweet">
			{{tweet}}
		</p>
		<p>
			By - {{author}}
		</p>
		
	</body>
		
	

</html>
