<!DOCTYPE html>
<html>

	<head>
		<title>
			Super Bitchen Web App
		</title>
		
		<style>
			.image{
				position:relative;
				margin-left:auto;
				margin-right:auto;
				width:34%;
				height:600%;
			}
			/* https://css-tricks.com/text-blocks-over-image/ */
			h4{
				position: absolute; 
				top: 10px; 
				left: 0;
				color: white; 
				font: bold 16px/20px Helvetica, Sans-Serif; 
				background: rgb(0, 0, 0); /* fallback color */
				background: rgba(0, 0, 0, 0.4);
			}
		</style>
	</head>
	
	
	<body>
	
		<div class="image">
			<img src={{imageUri}} style="width:100%;">
			<h4>{{tweet}}<br />By - {{screen_name}}<br /><br /><a href={{attributionLink}} target="_blank" style="color:white">attribution link</a></h4>
		</div>
		
		<p>
			<h5>Authors of 10 most recent tweets (most recent || less recent || ect.): <br /></h5>
			{{screen_name_debug_list}}
		</p>
	</body>
		
	

</html>
